# Auto detect text files and perform LF normalization
* text=auto

# Force GitHub to detect R scripts correctly
*.R linguist-language=R
*.Rmd linguist-language=R

# Explicitly tag notebooks as Jupyter
*.ipynb linguist-language=Jupyter Notebook
